# Category Wise Attacks and Plot as Bar Plot using Seaborn

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib

Using matplotlib backend: Qt5Agg

In [2]:
sns.set(style='darkgrid')

In [3]:
df = pd.read_csv('kdd_data_with_categories.csv')
df.head()

        41 categories
0  normal.    normal.
1  normal.    normal.
2  normal.    normal.
3  normal.    normal.
4  normal.    normal.

In [4]:
df['categories'].unique()

array(['normal.', 'u2r', 'dos', 'r2l', 'probe'], dtype=object)

In [5]:
df['categories'].value_counts()

dos        3883370
normal.     972781
probe        41102
r2l           1126
u2r             52
Name: categories, dtype: int64

In [6]:
df['41'].unique()

array(['normal.', 'buffer_overflow.', 'loadmodule.', 'perl.', 'neptune.',
       'smurf.', 'guess_passwd.', 'pod.', 'teardrop.', 'portsweep.',
       'ipsweep.', 'land.', 'ftp_write.', 'back.', 'imap.', 'satan.',
       'phf.', 'nmap.', 'multihop.', 'warezmaster.', 'warezclient.',
       'spy.', 'rootkit.'], dtype=object)

In [8]:
df['41'].nunique()

23

In [9]:
df['41'].value_counts()

smurf.              2807886
neptune.            1072017
normal.              972781
satan.                15892
ipsweep.              12481
portsweep.            10413
nmap.                  2316
back.                  2203
warezclient.           1020
teardrop.               979
pod.                    264
guess_passwd.            53
buffer_overflow.         30
land.                    21
warezmaster.             20
imap.                    12
rootkit.                 10
loadmodule.               9
ftp_write.                8
multihop.                 7
phf.                      4
perl.                     3
spy.                      2
Name: 41, dtype: int64

In [ ]:
# Plot for Attacks Under Category
fig = sns.countplot(x='categories', data=df, palette='Set3')
plt.xlabel('Categories')
plt.ylabel("Attack's Count")
plt.title('Category vs Attacks')
plt.show(fig)

In [5]:
# Plot for Attacks Under Category
sns.countplot(x='categories', data=df, palette='Set3')
plt.xlabel('Categories')
plt.ylabel("Attack's Count")
plt.title('Category vs Attacks')

Text(0.5, 1.0, 'Category vs Attacks')

# DOS Attack Sub Dataset and Plot as Bar Plot using Seaborn

In [8]:
# DOS Sub Dataset
dos = df[df['categories'] == 'dos']
dos.head()

             41 categories
75985  neptune.        dos
75986  neptune.        dos
75987  neptune.        dos
75988  neptune.        dos
75989  neptune.        dos

In [9]:
dos['41'].value_counts()

smurf.       2807886
neptune.     1072017
back.           2203
teardrop.        979
pod.             264
land.             21
Name: 41, dtype: int64

In [10]:
# Plot for DOS Attakcs
# fig = sns.countplot(x='41', data=dos, palette='Set3')
sns.countplot(x='41', data=dos, palette='Set3')
plt.xlabel('DOS Category Attacks')
plt.ylabel("Attack's Count")
plt.title('Bar Plot of DOS Attacks')
# plt.show(fig)

Text(0.5, 1.0, 'Bar Plot of DOS Attacks')

# Probe Attack Sub Dataset and Plot as Bar Plot using Seaborn

In [11]:
# probe Sub Dataset
probe = df[df['categories'] == 'probe']
probe.head()

                41 categories
226552  portsweep.      probe
226553  portsweep.      probe
226554  portsweep.      probe
226555  portsweep.      probe
226556  portsweep.      probe

In [12]:
probe['41'].value_counts()

satan.        15892
ipsweep.      12481
portsweep.    10413
nmap.          2316
Name: 41, dtype: int64

In [13]:
# Plot for Probe Attakcs
# fig = sns.countplot(x='41', data=probe, palette='Set3')
fig = sns.countplot(x='41', data=probe, palette='Set3')
plt.xlabel('Probe Category Attacks')
plt.ylabel("Attack's Count")
plt.title('Bar Plot of Probe Attacks')
# plt.show(fig)

Text(0.5, 1.0, 'Bar Plot of Probe Attacks')

# R2L Attack Sub Dataset and Plot as Bar Plot using Seaborn

In [14]:
# r2l Sub Dataset
r2l = df[df['categories'] == 'r2l']
r2l.head()

                   41 categories
156965  guess_passwd.        r2l
226382  guess_passwd.        r2l
226383  guess_passwd.        r2l
226384  guess_passwd.        r2l
226385  guess_passwd.        r2l

In [15]:
r2l['41'].value_counts()

warezclient.     1020
guess_passwd.      53
warezmaster.       20
imap.              12
ftp_write.          8
multihop.           7
phf.                4
spy.                2
Name: 41, dtype: int64

In [16]:
# Plot for R2L Attakcs
# fig = sns.countplot(x='41', data=r2l, palette='Set3')
sns.countplot(x='41', data=r2l, palette='Set3')
plt.xlabel('R2L Category Attacks')
plt.ylabel("Attack's Count")
plt.title('Bar Plot of R2L Attacks')
# plt.show(fig)

Text(0.5, 1.0, 'Bar Plot of R2L Attacks')

# U2R Attack Sub Dataset and Plot as Bar Plot using Seaborn

In [17]:
# U2R Dataset
u2r = df[df['categories'] == 'u2r']
u2r.head()

                      41 categories
7448    buffer_overflow.        u2r
7449    buffer_overflow.        u2r
40481        loadmodule.        u2r
41114              perl.        u2r
406470  buffer_overflow.        u2r

In [18]:
u2r['41'].value_counts()

buffer_overflow.    30
rootkit.            10
loadmodule.          9
perl.                3
Name: 41, dtype: int64

In [19]:
# Plot for U2R Attakcs
fig = sns.countplot(x='41', data=u2r, palette='Set3')
plt.xlabel('U2R Category Attacks')
plt.ylabel("Attack's Count")
plt.title('Bar Plot of U2R Attacks')
# plt.show(fig)

Text(0.5, 1.0, 'Bar Plot of U2R Attacks')