In [1]:
import numpy as np
import pandas as pd

In [2]:
raw_data = pd.read_csv('kddcup_data_10_percent.gz', header=None)
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,tcp,http,SF,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

In [3]:
labels = raw_data.iloc[:,raw_data.shape[1]-1:]

In [4]:
# Conditions start to be in categories
DOS = (labels[41] == 'back.') | (labels[41] == 'land.') | (labels[41] == 'neptune.') | (labels[41] == 'pod.') | (labels[41] == 'smurf.') | (labels[41] == 'teardrop.')
U2R = (labels[41] == 'buffer_overflow.') | (labels[41] == 'loadmodule.') | (labels[41] == 'perl.') | (labels[41] == 'rootkit.')
R2L = (labels[41] == 'ftp_write.') | (labels[41] == 'guess_passwd.') | (labels[41] == 'imap.') | (labels[41] == 'multihop.') | (labels[41] == 'phf.') | (labels[41] == 'spy.') | (labels[41] == 'warezclient.') | (labels[41] == 'warezmaster.')
probe = (labels[41] == 'satan.') | (labels[41] == 'ipsweep.') | (labels[41] == 'portsweep.') | (labels[41] == 'nmap.')
# Conditions end

labels['categories'] = np.where(DOS, 'dos', np.where(U2R, 'u2r', np.where(R2L, 'r2l', np.where(probe, 'probe', labels[41]))))

# This is just for testing purpose
# labels.loc[labels['categories'].isin(['u2r'])]

In [5]:
labels = labels.loc[:,[41,'categories']]
labels.head()

        41 categories
0  normal.    normal.
1  normal.    normal.
2  normal.    normal.
3  normal.    normal.
4  normal.    normal.

In [7]:
labels.to_csv('kddcup_data_10_percent_with_categories.csv', index=False)